# name: Deploy (CDK synth -> CloudFormation)

# on:
#   workflow_dispatch:
#   push:
#     branches: [ "main" ]
#     paths:
#       - "infra/**"
#       - ".github/workflows/deploy.yml"

# permissions:
#   contents: read

# env:
#   AWS_REGION: us-east-1

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4

#       - name: Setup Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.11"

#       - name: Install CDK + Python deps
#         run: |
#           npm install -g aws-cdk
#           python -m pip install --upgrade pip
#           pip install -r infra/requirements.txt

#       - name: Configure AWS credentials (Access Keys)
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
#           aws-region: ${{ env.AWS_REGION }}

#       - name: CDK synth
#         working-directory: infra
#         run: |
#           rm -rf cdk.out
#           cdk synth

#       - name: Deploy NetworkStack
#         working-directory: infra
#         run: |
#           aws cloudformation deploy \
#             --stack-name NetworkStack \
#             --template-file cdk.out/NetworkStack.template.json

#       - name: Deploy EC2 ALB ASG stack
#         working-directory: infra
#         run: |
#           aws cloudformation deploy \
#             --stack-name Ec2AlbAsgHelloStack \
#             --template-file cdk.out/Ec2AlbAsgHelloStack.template.json \
#             --capabilities CAPABILITY_IAM

#       - name: Print ALB URL
#         working-directory: infra
#         run: |
#           aws cloudformation describe-stacks \
#             --stack-name Ec2AlbAsgHelloStack \
#             --query "Stacks[0].Outputs" \
#             --output table
