name: Deploy Infra (CDK)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "infra/**"
      - ".github/workflows/infra.yml"

permissions:
  contents: read

env:
  AWS_REGION: us-east-1

jobs:
  deploy-infra:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install CDK + Python deps
        run: |
          npm install -g aws-cdk
          python -m pip install --upgrade pip
          pip install -r infra/requirements.txt

      - name: Configure AWS credentials (Access Keys)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: CDK deploy (Network + ECR + Runners + CodeDeploy infra)
        working-directory: infra
        run: |
          # synth/deploy stacks you want
          cdk bootstrap
          cdk deploy NetworkStack EcrStack GithubRunnersStack Ec2AlbAsgHelloStack \
            --require-approval never
